@import '../../styles/index.scss';

.Cell {
  @include borders;
  @include buttons;
  background-color: #b0bec5;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  &.visible {
    border-color: #23415633;
    border-width: 1px;
	background-color: #e5e8ea;
  }

  &.red {
    background: red;
  }

  &.value-1 {
    color: blue;
  }
  &.value-2 {
    color: green;
  }
  &.value-3 {
    color: red;
  }
  &.value-4 {
    color: purple;
  }
  &.value-5 {
    color: maroon;
  }
  &.value-6 {
    color: turquoise;
  }
  &.value-7 {
    color: black;
  }
  &.value-8 {
    color: gray;
  }
}
